<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="app">
      <form class="form">
        <label for="name">Nome</label>
        <input v-model="nome" id="name" type="text" />
        <label for="email">E-mail</label>
        <input v-model="email" type="email" name="email" />
        <label for="phone">Telefone</label>
        <input v-model="phone" type="number" name="phone" />
        <label for="message">Mensagem</label>
        <textarea
          v-model="message"
          name="message"
          cols="30"
          rows="10"
        ></textarea>
        <button @click.prevent="mostrar = true" type="submit">Enviar</button>
      </form>
      <div v-if="mostrar">
        <p>TESTE</p>
        <p>{{ nome }}</p>
        <p>{{ email }}</p>
        <p>{{ phone }}</p>
        <p>{{ message }}</p>
      </div>
    </div>
    <script type="module">
      import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js";

      const vm = new Vue({
        el: "#app",
        data: {
          mostrar: false,
          nome: "",
          email: null,
          phone: null,
          message: null,
        },
        methods: {},
      });
    </script>
    <style>
      .form {
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
